*{box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
background-color: orange;}

h1 {font-size: 20px;
text-align: right;}

h1 {
width: 125px;
height: 50px;
border: 1px solid black;
margin: 0;
padding: 0;
position: absolute;
left: 2%;
bottom: 5%;
float: right;
clear: left;}







  #box1 {background-color: blue;
  	padding: 10px;
  	border: 1px solid black;
  	margin: 20px;
  	width: 250px;
  	float: left;
  	height: 250px;
  	position: relative;}


  #box2 {background-color: red;
  	padding: 10px;
  	border: 1px solid black;
  	margin: 20px;
  	width: 250px;
  	height: 250px;
  	float: right;
  	position: sticky}

  #box3 {background-color: yellow;
  	padding: 20px;
  	border: 1px solid black;
  	margin: 20px;
   	width: 250px;
  	height: 250px;
  	float: left;
  	position: relative;}

.row {width: 100%}


@media (max-width: 767px)  {

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  #box2, #box3
  {
  	float: left;
  }
 #box1 {width: 75%;} #box2 
	{width: 75%; overflow:visible;} #box3 
	{width: 75%;
 }
}

@media (min-width: 768px) and (max-width: 989px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }

  #box1 {
 		width: 33%;} 
 		#box2
 		 {width: 33%;} 
 		 #box3 { 
 		 	width: 90%;
 		 	position: relative;
 		 	overflow: visible;
 		 	top: 10%;
 		 	clear: both;

 		 } 
}

@media (mini-width: 990px)  {

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

#box1 {
 		width: 33.32%;} 
 		#box2
 		 {width: 33.32%;
 		 } 
 		 #box3 {
 		 	position: relative;
 		 	
 		 	
 		 }

}
